@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
  padding: 0;
  margin: 0;
  height: auto;
  font-family: 'DM Sans', sans-serif;
}

.mxl-content{
  max-width: 1440px;
  margin: 0 auto;
}

/* MENU */

.p-menubar{
  background: none;
  border: none;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled) .p-menuitem-text{
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
  display: block;
  width: 100%;
  padding: 0.5rem 0;
  transition: all .3s;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
  color: purple;
  display: block;

}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled){
  background: none;
  border: none;
  border-bottom: 1px solid transparent;
  border-radius: 0;
  padding: 0;
  margin: 0 15px;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
  background: none;
  border: none;
  border-bottom: 1px solid purple;
  border-radius: 0;
}

#pr_id_1_2 a{
  border-bottom: none!important;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus{
  box-shadow: none;
}

/* VIDEO */

.video-container{
  overflow: hidden;
}

.video-container video{
  width: 100%;
}

/* ABOUT */

.about-section{
  background-color: rgb(97, 65, 147);
}

.about-section-container{
  min-height: 100vh;
  color: white;
}
.broad-title{
  transform:scaleY(1.8);
  font-size: 10rem;
  font-style: italic;
  position: absolute;
  z-index: 1;
}

.broad-title span{
  color: rgb(235, 19, 71);
}

.broad-subtitle{
  width: 1440px;
  background-color: rgb(97, 65, 147);
  z-index: 2;
  font-size: 1.4rem;
  padding: 30px 0;
  line-height: 2rem;
  text-transform: uppercase;
}

.about-section-container-2 .t-1{
  color: white;
  font-size: 1.4rem;
  padding-right: 30px;
  text-transform: uppercase;
}

.about-section-container-2 .t-2{
  color: white;
  font-size: 1.4rem;
  padding-left: 120px;
  text-transform: uppercase;
  padding-bottom: 60px;
}

/* SERVICES */

.services-section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.p-card-title{
  color: rgb(235, 19, 71);
}

.card-service{
  min-height: 250px;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all .3s;
  transform: scale(1);
}

.card-service:hover{
 background: rgb(97, 65, 147, 0.2);
 transform: scale(0.9);
}

ul.result{
  list-style: none;
  list-style-position: inside;
  padding: 0;
  padding-left: 45px;
}

ul.result li{
  padding: 10px 0;
  text-transform: uppercase;
  font-size: 2rem;
}

.service-item{
  transform: translateX(-100%);
  opacity: 0;
  animation-name: fadeInLeft;
  animation-duration: .3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  color: rgb(235, 19, 71);
}

.s-i-0{
  animation-delay: .3s;
}

.s-i-1{
  animation-delay: .6s;
}

.s-i-2{
  animation-delay: .9s;
}

.s-i-3{
  animation-delay: 1.2s;
}

.s-i-4{
  animation-delay: 1.5s;
}

@keyframes fadeInLeft {
  from{
    opacity: 0;
    transform: translateX(-100%);
  } to {
    opacity: 1;
    transform: translateX(0);
  }
}

.col-result{
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: start;
  align-items: center;
  border:1px solid red;
  border-radius: 1rem;
  box-sizing: border-box;
}

/* CONTACT */

.contact-section{
  width: 100%;
  padding: 60px 0;
  background: #f2f2f2;
}
.p-field label{
  display: block;
  width: 100%;
}